@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-mono: var(--font-jetbrains);

  --color-terracotta: #c1714f;
  --color-background: #faf4ef;
  --color-card: #fdf6f0;
  --color-dark: #1c1008;
  --color-muted: #7a6155;
  --color-divider: #e0cfc4;
  --shadow-card: 0 2px 12px rgba(0, 0, 0, 0.06);
}

:root {
  --color-terracotta: #c1714f;
  --color-background: #faf4ef;
  --color-card: #fdf6f0;
  --color-dark: #1c1008;
  --color-muted: #7a6155;
  --color-divider: #e0cfc4;
}

body {
  background-color: #faf4ef;
  color: #1c1008;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}
